[user]
	name = Victor Lin
	email = vlin@twitter.com
[diff]
	renames = true
[push]
	default = current
[color]
	ui = true
[merge]
	tool = fugitive
	renamelimit = 3000
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[http]
	postBuffer = 524288000
